*{
//border:1px solid black !important;
}

.profile{
 	
}
.align-center{
	display: table !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.align-left{
	display:table;
	margin-right:auto !important;
}
.align-right{
	display:table;
   margin-left:auto !important;
}

.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.text-left{
 text-align:left;
}
.right{
    float:right;
}
.left{
    float:left;	
}
.align-middle{
	display:table-cell;
	vertical-align: middle;
}
.user{
	padding:2.5% 0 0 0	;
}

.side-padding{
	padding-right:13%;
	padding-left:13%;
}

.max-large{
    max-width:1200px;
}
.max-medium{
    max-width:900px;
}
.max-small{
	max-width:400px;
}
.min-large{
    min-width:8000px}
.min-medium{
    min-width:600px;
}
.min-small{
    min-width:470px;
}

.min-h-small{
	min-height:200px;
}


/* Index Page Style */

.welcome-msg{
	display: table;
	vertical-align: middle;
}
.register-form input{
 	display: inline-block;
}
.post-box{
border:1px solid black;
padding:3%;
margin:10px 100px;
}

.post-box .post{
	padding:2% 0;
	border-top: 1px solid black;
	margin:2% 0;
}