/*snipets-workflow 
 Joannier Pinales




*/

.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.text-left{
 text-align:left;
}
.right{
    float:right;
    clear:left;
}
.left{
    float:left;
    clear:right;	
}


.cursor-default{
    cursor: default;
}
.quote-container{
    color:white;
}
.mid-header{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic,    sans-serif;
    font-size:1.2em;
    text-align:center;
    line-height:1.2em;
}

.shadow{
    text-shadow:1px 1px 5px black;	
}

.max-large{
    max-width:1200px;
}
.max-medium{
    max-width:900px;
}
.max-small{
	max-width:400px;
}
.min-large{
    min-width:1000px}
.min-medium{
    min-width:800px;
}
.min-small{
    min-width:500px;}
.bottom-radius{
    border-bottom-right-radius:5px;	
    border-bottom-left-radius:5px;
}
.slide-down{
    display:none;
}
.clearfix:after{
    content:" ";
    display:table;
    clear:both;
    visibility:hidden;
}
.clearfix{
    display:inline-block;
}

.side-borders{
	border-left:2px solid #908A74;
	border-right:2px solid #908A74;
}

.clear {
    clear:both;
}
.side-padding{
	padding-right:13%;
	padding-left:13%;
}	

.align-center{
	display:table;
	margin-left:auto;
	margin-right:auto;
}
.align-left{
	display:table;
	margin-right:auto !important;
}
.align-right{
	display:table;
   margin-left:auto !important;
}

